.checkoutSection {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
}

.checkoutSection h1 {
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin: 5vh 0;
}

.summarySection {
    /* border: 1px solid blue; */
    margin-bottom: 10vh;
}
.summarySection h2 {
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    margin-bottom: 5vh;
}


.summaryTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    margin-bottom: 7vh;
}
.summaryTable th,
.summaryTable td {
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid #e0e0e0;
}
.summaryTable thead th {
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    font-weight: 600;
    font-size: 1rem;
}
.summaryTable tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
.summaryTable .cellPrice {
    text-align: right;
    letter-spacing: 0.5px;
}
.summaryTable tfoot {
  background-color: #f2f4f8;
  font-size: 1rem;
  /* border-top: 2px solid #ccc; */
}
.summaryTable tfoot th {
    text-align: left;
}
.summaryTable tfoot td {
    font-weight: 600;
    text-align: right;
    letter-spacing: 0.5px;
}

.toggleCode {
    margin: 0.5em 0 1em 0;
    cursor: pointer;
    width: fit-content;
}
.promoCodeContainer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.promoCodeContainer input {
    min-height: fit-content;
    width: 50%;
    font-size: 1rem;
    padding-left: 0.5em;
    border-radius: 5px;
    flex: 2;
}
.promoCodeContainer button {
    border-radius: 5px;
    flex: 1;
}
.subtotalPrice {
    letter-spacing: 0.5px;
    font-size: 0.95rem;
}
.totalPrice {
    font-weight: 600;
    letter-spacing: 0.5px;
}


.paymentSection {
    /* border: 1px solid red; */
    margin-bottom: 10vh;
}
.paymentSection h2 {
    text-align: center;
    margin-bottom: 5vh;
}

.paymentMethodsContainer {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.paymentIcons {
    /* border: 1px solid red; */
    display: inline-flex;
    min-height: fit-content;
    margin-left: 0.5em;
    gap: 0.2em;
}
.paymentMethodsContainer label {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;

}
.paymentMethodsContainer input {
    margin-right: 0.5em;
}

.placeOrderButton {
    width: 100%;
    display: block;
    margin: 0 auto 10vh auto;
}



.placeContainer {
    border: 3px outset var(--clr-secondary);
    border-radius: var(--radius);
    height: 60vh;
    width: 75vw;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placePaymentIcons {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}
.placeInfo {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeInfo h3 {
    /* border: 1px solid rgb(141, 141, 15); */
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    padding: 0.7em;
    text-align: center;
    font-weight: 300;
    margin-top: 1em;
}
.placeInfo svg {
    /* border: 1px solid green; */
    margin-top: 0.5em;
    
}