.checkoutPage {
    position: relative;
    min-height: 100dvh;
}

.checkoutSection {
    width: 90%;
    margin: 2.5rem auto 0 auto;
    transition: var(--transition);
    padding-bottom: var(--space-xxl);
}

.tableSection {
    margin-bottom: var(--space-xxl);
}
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--fs-sm);
    margin: 0 auto var(--space-xxl) auto;
}

.table th,
.table td {
    text-align: left;
    padding: var(--space-sm) var(--space-md);
    border-bottom: 1px solid #e0e0e0;
}
.table td {
    letter-spacing: var(--ls);
}
.table thead th {
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    font-weight: 600;
    font-size: var(--fs-md);
}
.table tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
.table .cellPrice {
    text-align: right;
    letter-spacing: var(--ls);
}
.table tfoot {
  background-color: #f2f4f8;
  font-size: var(--fs-md);
}
.table tfoot th {
    text-align: left;
}
.table tfoot td {
    font-weight: 600;
    text-align: right;
    letter-spacing: var(--ls);
}

@media (width >= 850px) {
    .checkoutSection {
        width: 75%;
    }
    .table th,
    .table td {
        padding: var(--space-sm) 5%;
    }
}


