.checkoutPage {
    position: relative;
}

.checkoutSection {
    width: 90%;
    margin: 2.5rem auto;
    transition: var(--transition);
}

.summarySection {
    margin-bottom: var(--space-xxl);
}
.summaryTable {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--fs-sm);
    margin: 0 auto var(--space-xl) auto;
}

.summaryTable th,
.summaryTable td {
    text-align: left;
    padding: var(--space-sm) var(--space-md);
    border-bottom: 1px solid #e0e0e0;
}
.summaryTable td {
    letter-spacing: var(--ls);
}
.summaryTable thead th {
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    font-weight: 600;
    font-size: var(--fs-md);
}
.summaryTable tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
.summaryTable .cellPrice {
    text-align: right;
    letter-spacing: var(--ls);
}
.summaryTable tfoot {
  background-color: #f2f4f8;
  font-size: var(--fs-md);
}
.summaryTable tfoot th {
    text-align: left;
}
.summaryTable tfoot td {
    font-weight: 600;
    text-align: right;
    letter-spacing: var(--ls);
}

@media (width >= 850px) {
    .checkoutSection {
        width: 75%;
    }
    .summaryTable th,
    .summaryTable td {
        padding: var(--space-sm) 5%;
    }
}


.toggleCode {
    margin: var(--space-xs) 0 var(--space-md) 0;
    cursor: pointer;
    width: fit-content;
}
.promoCodeContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--space-xl);
}
.promoCodeContainer input {
    min-height: fit-content;
    min-width: 25%;
    font-size: var(--fs-md);
    padding-left: var(--space-md);
    flex: 2;
    border: none;
    border-bottom: 1px solid var(--border);
}
.promoCodeContainer button {
    border-radius: var(--radius-small);
    flex: 1;
    margin-left: 1.5em;
}
@media (width >= 1024px) {
    .promoCodeContainer {
        justify-content: start;
    }
    .promoCodeContainer input {
        flex: 0.35;
    }
    .promoCodeContainer button {
        flex: 0.25;
    }
}

.subtotalPrice {
    letter-spacing: var(--ls);
    font-size: var(--fs-sm);
}
.totalPrice {
    font-weight: 600;
    font-size: var(--fs-md);
}

.paymentSection {
    margin-bottom: var(--space-lg);

}
.paymentSection h2 {
    text-align: center;
    font-size: var(--fs-lg);
    margin-bottom: var(--space-sm);
}

.paymentMethodsContainer {
    border: 1px solid var(--clr-bg-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-md);
    border-radius: var(--radius-large);
    box-shadow: var(--shadow-light);
    margin: 0 auto;
    background: var(--clr-bg-dark);
}
@media (width >= 450px) {
    .paymentMethodsContainer {
        width: 75%;
    }
}
.paymentMethodsContainer label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-md);
    border: 1px solid transparent;
    width: 100%;
    padding: var(--space-sm) var(--space-sm);
    border-radius: 40px;
    box-shadow: var(--shadow-light);
    background: var(--clr-bg-light);
    transition: var(--transition);
}
.paymentMethodsContainer label:hover {
    box-shadow: var(--shadow-combined);
    background: var(--clr-bg);
    cursor: pointer;
}
.paymentMethodsContainer label:active {
    background: var(--clr-bg-dark);
}
.paymentMethodsContainer label:has(input[type="radio"]:checked) {
    box-shadow: var(--shadow-combined);
    background: var(--clr-bg);
}
.paymentInput {
    margin-right: var(--space-xxs);
    accent-color: var(--clr-text);
}
.paymentInput:focus-visible {
  outline: 2px solid var(--clr-primary);
  outline-offset: 2px;
}
.paymentIcons {
    display: inline-flex;
    min-height: fit-content;
    margin-left: var(--space-xxs);
    gap: var(--space-xs);
}

.placeOrderButton {
    width: 55%;
    display: block;
    margin: 0 auto var(--space-xxl) auto;
}
@media(width >= 850px) {
    .paymentMethodsContainer {
        width: 55%;
    }
    .placeOrderButton {
        width: 40%;
    }
}

.placeContainer {
    border: 2px inset var(--clr-primary);
    border-radius: var(--radius-large);
    height: 60vh;
    width: 75vw;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--clr-bg);
    box-shadow: var(--shadow-combined);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.placePaymentIcons {
    width: 100%;
    max-width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.placeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeInfo p {
    font-size: var(--fs-lg);
    padding: var(--space-sm);
    text-align: center;
    font-weight: 500;
    margin-top: var(--space-sm);
}
.placeInfo svg {
    margin-top: var(--space-xs);
}