.checkoutSection {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    transition: var(--transition);
}

.checkoutSection h1 {
    margin: 5vh 0;
}

.summarySection {
    /* border: 1px solid blue; */
    margin-bottom: 10vh;
}
.summarySection h2 {
    text-align: center;
    margin-bottom: 5vh;
}


.summaryTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    margin: 0 auto 7vh auto;
}

.summaryTable th,
.summaryTable td {
    text-align: left;
    padding: 0.7em 1.5em;
    border-bottom: 1px solid #e0e0e0;
    
}
.summaryTable td {
    letter-spacing: var(--ls-big);
}
.summaryTable thead th {
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    font-weight: 600;
    font-size: 1rem;
}
.summaryTable tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
.summaryTable .cellPrice {
    text-align: right;
    letter-spacing: 0.5px;
}
.summaryTable tfoot {
  background-color: #f2f4f8;
  font-size: 1rem;
  /* border-top: 2px solid #ccc; */
}
.summaryTable tfoot th {
    text-align: left;
}
.summaryTable tfoot td {
    font-weight: 600;
    text-align: right;
    letter-spacing: 0.5px;
}

.toggleCode {
    margin: 0.5em 0 7vh 0;
    cursor: pointer;
    width: fit-content;
}
.promoCodeContainer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 7vh;
}
.promoCodeContainer input {
    min-height: fit-content;
    width: 50%;
    font-size: 1rem;
    padding-left: 1.5em;
    border-radius: var(--radius-small);
    flex: 2;
    border: none;
    border-bottom: 1px solid var(--border);
}
.promoCodeContainer button {
    border-radius: var(--radius-small);
    flex: 1;
    margin-left: 1.5em;
}

.subtotalPrice {
    letter-spacing: var(--ls);
    font-size: 0.95rem;
}
.totalPrice {
    font-weight: 600;
    letter-spacing: var(--ls);
    font-size: 1.15rem;
}


.paymentSection {
    /* border: 1px solid red; */
    margin-bottom: 10vh;
    line-height: 1.7;
}
.paymentSection h2 {
    text-align: center;
    margin-bottom: 5vh;
}

.paymentMethodsContainer {
    border: 1px solid var(--clr-bg-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-radius: var(--radius);
    box-shadow: var(--shadow-light);
    margin: 0 auto;
    background: var(--clr-bg-dark);
    /* border: none; */
}
.paymentMethodsContainer label {
    display: flex;
    align-items: center;
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    border: 1px solid transparent;
    width: 100%;
    padding: var(--pd-td) var(--pd-lr);
    border-radius: 40px;
    box-shadow: var(--shadow-light);
    background: var(--clr-bg-light);
    transition: var(--transition);
}
.paymentMethodsContainer label:hover {
    box-shadow: var(--shadow-combined);
    border: 1px solid var(--clr-hoverInLight);
    background: var(--clr-bg);
    cursor: pointer;
}
.paymentMethodsContainer label:active, 
.paymentMethodsContainer label:has(input[type="radio"]:checked) {
    box-shadow: var(--shadow-combined);
    background: var(--clr-bg);
}
.paymentInput {
    margin-right: 0.5em;
    accent-color: var(--clr-text);
}
.paymentInput:focus-visible {
  outline: 2px solid var(--clr-primary);
  outline-offset: 2px;
}
.paymentIcons {
    display: inline-flex;
    min-height: fit-content;
    margin-left: 1em;
    gap: 0.5em;
    
}


@media(width >= 850px) {
    /* .summaryTable {
        width: 55%;
    } */
    .paymentMethodsContainer {
        width: 55%;
    }
}

.placeOrderButton {
    width: 55%;
    display: block;
    margin: 0 auto 10vh auto;
}

.placeContainer {
    border: 2px inset var(--clr-primary);
    border-radius: var(--radius-big);
    height: 60vh;
    width: 75vw;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--clr-bg);
    box-shadow: var(--shadow-combined);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.placePaymentIcons {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}
.placeInfo {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeInfo h3 {
    /* border: 1px solid rgb(141, 141, 15); */
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    padding: 0.7em;
    text-align: center;
    font-weight: 300;
    margin-top: 1em;
}
.placeInfo svg {
    /* border: 1px solid green; */
    margin-top: 0.5em;
    
}