.productCard {
    border: 1.5px solid var(--clr-bg-dark);
    padding: var(--pd-card);
    border-radius: var(--radius-small);
    margin: 0 auto;
    width: 100%;
    max-width: 315px;
    height: 350px;
    max-height: 400px;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
@media (hover: hover) and (pointer: fine) {
    .productCard:hover {
  box-shadow: var(--shadow-combined);
  border-color: var(--clr-primary);
}
}
.productCard a {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.productCard img {
    width: 100%;
    height: 40%;
    margin-bottom: var(--space-xs);
    flex: 3;
}
.productTitle {
    color: var(--clr-text);
    font-size: var(--fs-md);
    width: 100%;
    margin-bottom: var(--space-xs);
    max-height: 50px;
    font-weight: 600;
}
.productCard h4 {
    font-size: calc(var(--fs-md) - 0.15rem);
    margin-bottom: var(--space-md);
    font-weight: 300;
    letter-spacing: var(--ls);
}
.productCard p {
    font-size: var(--fs-sm);
    font-weight: 200;
    margin-bottom: var(--space-xs);
}





