.reviewSection {
    overflow: hidden;
    width: 100%;
    background-image: url("/images/city-sun.upscaled.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.reviewSection h2 {
    text-align: center;
    padding-top: 0.5em;
    color: var(--clr-bg);
}

.sliderContainer {
  position: relative;
  margin-bottom: var(--space-xxl);
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  position: absolute;
  width: 80%;
  height: 80%;
  max-height: 350px;
  max-width: 500px;
  background: var(--clr-bg);
  border-radius: var(--radius-large);
  box-shadow: var(--shadow);
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (width >= 850px) {
  .cardContainer {
    width: 65%;
  }
}

.navButton {
  all: unset;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  background: var(--clr-bg);
  box-shadow: var(--shadow);
  border: none;
  cursor: pointer;
  color: var(--clr-txt);
  z-index: 2;
  width: clamp(35px, 3vw, 45px);
  height: clamp(35px, 3vw, 45px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: var(--transition);
}
.navButton:hover {
  background: rgba(0, 0, 0, 0.15);
  transform: translateY(-50%) scale(1.7);
  opacity: 1;
  color: var(--clr-bg);
}
.navButton:active {
  scale: 0.9;
}
.navButton:first-of-type {
  left: 5%;
}
.navButton:last-of-type {
  right: 5%;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-md);
}
.userIcon {
  margin-right: var(--space-xxs);
}
.authorAndStars {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}
.authorAndStars p {
  font-size: var(--fs-sm);
  font-weight: 800;
}
.reviewText {
  font-size: var(--fs-md);
  max-width: 90%;
}
.reviewDate {
  font-size: var(--fs-xs);
  text-align: right;
  font-weight: 300;
}