.infoContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    overflow-x: hidden;
    /* border: 1px solid red; */
}

.infoContainer h2 {
  padding-bottom: var(--space-md);
}

.infoStats {
    width: fit-content;
    max-width: 90%;
    margin-bottom: var(--space-xl);
    display: flex;
    flex-direction: column;
    align-items: start;
}
.statsItems {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    line-height: var(--lh-text);
}
.statsItems p {
    font-weight: 300;
    font-size: var(--fs-md);
}
.numbers {
    display: inline-block;
    font-family: var(--font-gatwick-jet);
    font-weight: 600;
    font-size: calc(var(--fs-lg) - 0.5rem);
    width: 4em;
    text-align: end;
    padding-right: 0.7em;
}

.loopContainer {
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: var(--space-xxl);
}
.loopTrack {
  display: inline-flex;
  white-space: nowrap;
  will-change: transform;
  animation: loop 30s linear infinite;
}
.loopText {
  padding-right: 3em;
  letter-spacing: var(--ls);
  font-weight: 900;
  font-size: var(--fs-lg);
  background: radial-gradient(circle at center, #ff9d00 0%, #ff6a00 100%);
  -webkit-background-clip: text;
  background-clip: border-box;
  color: var(--clr-text); 
  border-top: 3px solid var(--clr-hoverInLight);
  border-bottom: 3px solid var(--clr-hoverInLight);
}
.loopText span {
  color: var(--clr-bg);
  font-weight: 100;
}
@keyframes loop {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0); 
  }
}
