.contactSection {
    width: 90%;
    margin: 2.5rem auto 0;
}
@media (width >= 850px) {
    .contactSection {
        width: 75%;
    }
}

.contactInfo {
    line-height: 2.5;
    margin-bottom: var(--space-xxl);
}
.contactInfoItem {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    font-size: var(--fs-md);
}
.email {
    color: var(--clr-primary);
} 
.email:hover {
    text-decoration: underline;
}
.email:active {
    color: var(--clr-primary-dark);
}
