.pageContainer {
    width: 100%;
}

.detailsContainer {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    margin-top: 2.5em;
}

/* .detailsContainer span {
    border: 1px solid red;
} */

.detailsContainer h1 {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1em;
}

.price {
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    margin-top: 0.2em;
    font-family: var(--acma);
    font-weight: 600;
    letter-spacing: 0.5px;
}

.detailsContainer figure {
    border: 1px solid var(--border);
    display: flex;
    justify-content: center;
    padding: 2em 0;
    margin-top: 2em;
    overflow: hidden;
    box-shadow: var(--shadow-combined);
    border-radius: var(--radius-small);
}

.productImage {
    width: 150px;
    height: 200px;
    transition: var(--transition);
}
.productImage:hover {
  transform: scale(1.3);  
}

.sizeSelector {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
}

.sizeSelector button {
    width: 60px;
    max-width: 80px;
    /* border-radius: 0px; */
}


.linkDescription {
    margin-top: 1.5em;
    text-align: center;
}

.buttonAddContainer {
    /* border: 1px solid red; */
    margin: 1.5em 0 3em 0;
    display: flex;
    justify-content: center;
}

.summariesContainer {
    margin-bottom: 10vh;
}

.instructions {
    border: 1px solid var(--border);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    padding: var(--pd-td) var(--pd-lr);
    margin: 0.7em 0 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.instructions span {
    height: 24px;
}
.instructionsTitle {
    padding: var(--pd-td) var(--pd-lr);
    text-transform: uppercase;
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 600;
}

.productDescription {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    padding: var(--pd-td) var(--pd-lr);
    text-align: justify;
    line-height: 1.7;
}

.careList {
    list-style: none;
    padding: var(--pd-td) 0;
    margin: 0;
}
.careList li {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 0.5em;
    font-size: clamp(0.9rem, 2vw, 1rem);
    padding: var(--pd-td) var(--pd-lr);
}

.iconWrapper {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

