.triggerButton {
  all: unset;
  color: var(--clr-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  width: 35px;
  height: 35px;
  border-radius: var(--radius-full);
}
.triggerButton:hover {
  background-color: var(--clr-hover);
}
.triggerButton:active {
  background-color: var(--clr-hover-light);
}
.dropdownMenu {
  background: var(--clr-bg);
  color: var(--clr-text-muted);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-combined);
  min-width: fit-content;
}
.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius-small);
  transition: var(--transition);
  padding: 5px 5px;
}
.menuItem:hover {
  background-color: var(--clr-hover);
  color: var(--clr-text);
}
.menuItem:active {
  background-color: var(--clr-hover-light);
}