.cartSection {
    /* border: 1px solid red; */
    /* min-height: 100vh; */
    width: 90%;
    margin: 0 auto;
}

.cartSection h1 {
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    text-align: center;
    margin: 0.7em 0 2em 0;
}



.warningBanner {
  background: var(--clr-primary-light);
  /* border: 1px solid #927821; */
  color: #836c1f;
  /* color: #333; */
  padding: 1em;
  margin: 5vh 0;
  border-radius: var(--radius);
}
.warningBanner p {
    font-size: clamp(1rem, 3vw, 1.3rem);
}
.removeAllContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.warningBanner button {
    margin: 1em 0;
}

.warningBanner ul {
    margin-top: 0.5em;
    padding-left: 1em;
    color: #d10221;
    font-size: clamp(1.1rem, 3vw, 1.4rem);
    /* border: 1px solid black; */
}

.unavailableItem {
  opacity: 0.7;
  position: relative;
}

.unavailableOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.856);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  /* text-transform: uppercase; */
  letter-spacing: 0.5px;
  color: #d10221;
}









.itemsContainer {
    /* border: 1px solid red; */
    margin-bottom: 10vh;
}
.cartItem {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    margin-bottom: 3vh;
    height: 130px;
    border-radius: 5px;
}
.cartItem img {
    flex: 1;
    min-width: 35%;
    padding: 0.3em;
    min-height: 100%;
    position: relative;
    object-fit: contain;
    border-right: 1px solid #3333338e;
}
.rightContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
}
.itemInformation {
    /* border: 1px solid; */
    padding: 0.3em;
    flex: 2;
}
.title {
    font-weight: 600;
    font-size: clamp(0.9rem, 2vw, 1rem);
}
.price {
    font-size: clamp(0.85rem, 2vw, 0.95rem);
}
.price span {
    opacity: 0.8;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.quantity {
    font-size: clamp(0.85rem, 2vw, 0.95rem);
}
.quantity span {
    opacity: 0.8;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.size {
    font-size: clamp(0.85rem, 2vw, 0.95rem);
}
.size span {
    opacity: 0.8;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.buttonsContainer {
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
}
.cartItem button {
    padding: 0;
    border-radius: 0;
    width: max-content;
    font-size: 0.95rem;
    
}
.cartItem button:nth-child(1) {
    flex: 1;
    border-right: 1px solid var(--clr-bg);
}
.cartItem button:nth-child(2) {
    flex: 1;
    border-right: 1px solid var(--clr-bg);
}
.cartItem button:nth-child(3) {
    flex: 2;
}
/* .cartItem button:hover {
    
} */

.clearAllContainer {
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
    margin-bottom: 10vh;
}
/* .clearAllButton {
    
} */





.summarySection {
    /* border: 1px solid rgb(255, 8, 0); */
    margin-bottom: 15vh;
}

.summarySection h2 {
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    text-align: center;
    margin: 1.5em 0 2em 0;
}

.totalItems {
    letter-spacing: 0.5px;
}
.subtotalPrice {
    letter-spacing: 0.5px;
    margin-bottom: 7vh;
}
.totalItems span,
.subtotalPrice span {
    font-weight: 600;
}

.summaryButtonsContainer {
    /* border: 1px solid red; */
     display: flex;
     flex-direction: column;

}
.summaryButtonsContainer a {
    letter-spacing: 0.05em;
    padding: var(--pd-top-down) var(--pd-left-right);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    border: none;
    font-size: var(--fs-md);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    width: 70%;
    margin: 0.2em auto;
}


/* EMPTY CART SECTION  */
.emptyCartAction {
    /* border: 1px solid red; */
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 50vh;
    justify-content: space-between;
}
.emptyCartImg {
    /* border: 1px solid; */
    background-image: url("/images/empty-cart-upscaled.webp");
    flex: 4;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
}
.emptyCartAction a {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: var(--pd-top-down) var(--pd-left-right);
    background: var(--clr-primary);

}