*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

:root {
  /* Colors */
  --clr-primary: #FF7700;
  --clr-primary-light: #FF7700;
  --clr-primary-dark: #FF7700;

  --clr-secondary: #ffbf04;

  --clr-grey-dark: #333;
  --clr-grey-medium: #999999;
  --clr-grey: #e9ecef;
  --clr-bg: #ffffff;

  --clr-accent: #440d06;
  --clr-accent-light: #440d06;
  --clr-accent-dark: #440d06;  

  --clr-text: #0E0C0D;

  /* Font families */
  --font-acma: 'Acma', sans-serif; 
  --font-gatwick-jet: 'PPGatwick-Jet', serif;

  /* Font sizes */
  --fs-xs: 0.8rem;
  --fs-sm: 0.9rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 2rem;

  /* Button padding */
  --pd-top-down: 0.5em;
  --pd-left-right: 0.7em;

  /* Border radius */
  --radius-small: 3px;
  --radius: 5px;
  --radius-big: 10px;

  /* Shadow */
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--font-acma);
  color: var(--clr-text);
}

/* p {
  max-width: 65ch; 
} */

h1, h2, h3 {
  font-family: var(--font-gatwick-jet);
}
h1 {

}
h2 {
  font-size: clamp(1.7rem, 2vw, 2.5rem);
  font-weight: 600;
}

h3 {
  font-weight: 600;
  /* font-size: clamp(0.4rem, 2.5vw, 1.3rem); */
}

button {
  font-family: var(--font-acma);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--clr-bg);
  padding: var(--pd-top-down) var(--pd-left-right);
  /* border-radius: var(--radius);
  box-shadow: var(--shadow); */
  border: none;
  font-size: var(--fs-md);
  cursor: pointer;
  transition: all 0.3s ease;
}


/* Primary (default) */
.buttonPrimary {
  background: var(--clr-text);
  color: var(--clr-bg);
}
/* .buttonPrimary:hover {
  background: var(--clr-primary-dark);
} */

/* black Secondary (secondary color) */
.buttonSecondary {
  background: var(--clr-text);
  color: var(--clr-bg);
}
/* .buttonSecondary:hover {
  background: var(--clr-accent-dark);
  transform: translateY(-2px);
} */

/* Tertiary (subtle outline style) */
.buttonTertiary {
  background: transparent;
  color: var(--clr-text);
  border: 3px solid var(--clr-primary);
  box-shadow: none;
}
/* .buttonTertiary:hover {
  background: var(--clr-secondary);
  color: var(--clr-bg);
  border-color: var(--clr-text);
  transform: translateY(-2px);
} */

a {
  text-decoration: none;
  color: var(--clr-text);
}


