.wrapper {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}
.icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
    color: var(--clr-bg);
    transition: transform 120ms ease;
}
.badge {
    position: absolute;
    top: -2px;
    right: -8px;
    background: #d10221;
    color: var(--clr-bg);
    /* padding: 1px 1px; */
    font-size: 0.75rem;
    border-radius: 50px;
    min-width: 22px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(172, 171, 171, 0.473);
    font-weight: 600;
    
}
.pulse {
    animation: badgePulse 0.3s ease-out;
}
@keyframes badgePulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}