.wrapper {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}
.icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
    color: var(--clr-bg);
    transition: transform 120ms ease;
}
.badge {
    position: absolute;
    top: -2px;
    right: -5px;
    background: #d10221;
    color: var(--clr-bg);
    /* padding: 1px 1px; */
    font-size: 0.7rem;
    border-radius: 50px;
    min-width: 18px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(124, 124, 124, 0.473);
    font-weight: 600;
    
}
.pulse {
    animation: pop 260ms ease;
}
@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}