.triggerButton {
  all: unset;
  background: transparent;
  color: var(--clr-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-big);
  transition: var(--transition);
  width: 35px;
  height: 35px;
}
.triggerButton:hover {
  background-color: var(--clr-hover);
}

.dropdownMenu {
  background: var(--clr-bg);
  color: var(--clr-text-muted);
  border-radius: var(--radius);
  box-shadow: var(--shadow-combined);
  min-width: fit-content;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  transition: var(--transition);
  padding: 5px 5px;
}
.menuItem:hover {
  background-color: var(--clr-bg-light);
}