.bigContainer {
    /* border: 1px solid red; */
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.promotionContainer {
    /* border: 1px solid blue; */
    text-align: center;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--clr-text);
    color: var(--clr-secondary);
}
.promotionContainer h5 {
    width: 90%;
    font-size: clamp(1.5rem, 2vw, 1.7rem);
    letter-spacing: 2.5px;
}
.promotionContainer h6 {
    width: 90%;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: var(--clr-grey);
}
.promotionContainer h6 span {
    text-decoration: underline;
    font-size: larger;
    padding: 0 0.3em;
    color: var(--clr-bg);
    letter-spacing: 1.3px;
}


.policiesContainer {
    flex: 4;
    display: flex;
}
.leftContainer {
    flex: 1;
    border: 2px solid var(--clr-grey);
    display: flex;
    flex-direction: column;
    padding: var(--pd-top-down) var(--pd-left-right);
}
.leftContainer p {
    font-size: clamp(0.9rem, 2vw, 1rem);
    flex: 1;
}
.legalLinks {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex: 2;
    color: var(--clr-text);
    margin: 0.2em 0;
    line-height: 2;
}
.leftContainer a {
    font-size: clamp(0.85rem, 2vw, 0.9rem);
    flex: 1;
}

.rightContainer {
    border-top: 2px solid var(--clr-grey);
    border-bottom: 2px solid var(--clr-grey);
    flex: 1;
    display: flex;
    flex-direction: column;
}
.rightContainer a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
}
.creditContainer {
    flex: 2;
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
    padding: var(--pd-top-down) var(--pd-left-right);
}
.creditContainer p {
    font-size: clamp(0.85rem, 2vw, 0.9rem);
    width: 100%;
    padding: 0;
    margin: 0;
}


.footer {
    width: 100%;
    min-height: fit-content;
    background: #333;
    color: white;
    font-size: 0.7rem;
    /* border: 1px solid red; */
}
.footer a {
    color: white;
    font-size: clamp(0.9rem, 2vw, 1rem);
    padding: 0;
    margin: 0;
    position: relative;
}
.footer a:not(.madeByPedro) {
    width: 25px;
    height: 25px;
}
.footerWrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}
.madeByPedro {
    width: fit-content;
}
.socials {
    /* border: 1px solid yellow; */
    gap: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}