.bigContainer {
    border: 1px solid red;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.promotionContainer {
    /* border: 1px solid blue; */
    text-align: center;
    flex: 2;
}




.policiesContainer {
    flex: 3;
    display: flex;
}
.policiesLinks {
    flex: 1;
    border-right: 1px solid rgb(131, 131, 131);
    display: flex;
    flex-direction: column;
    
}
.rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.rightContainer button {
    flex: 1;
}
.creditContainer {
    flex: 3;
}


.footer {
    width: 100%;
    height: auto;
    background: #2C2A2D;
    color: white;
    font-size: 0.7rem;
    flex: 1;
}

.footer a {
    color: white;
}

