.heroPage {
    height: 100vh;
    width: 100%;
    overflow-x: hidden; 
    position: fixed;
    z-index: 1000;
    inset: 0;
    display: flex;
    align-items: center;
    will-change: opacity;
}
.heroContainer {
    /* border: 1px solid rgb(10, 211, 37); */
    position: relative;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroWrapper {
    /* border: 1px solid rgb(10, 187, 34); */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 150px;
    height: 170px;
    max-height: 300px; */
    height: clamp(150px, 170px, 350px);
}
.topTitleContainer {
    /* border: 1px solid red; */
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
.mainTitleContainer {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}
.bottomTitleContainer {
    /* border: 1px solid red; */
    width: 100%;
    position: absolute;
    bottom: 0;
}

.topTitleContainer svg {
    transform: rotate(45deg);
}
.bottomTitleContainer p {
    font-size: clamp(1.2rem, 2.5vw, 2.3rem);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.title {
    /* border: 1px solid rgb(141, 12, 153); */
    color: black;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    font-size: clamp(3.5rem, 9vw, 11rem);
}
.sun {
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at center, #ff9d00 0%, #ff6a00 100%);
    border-radius: 50%;
    z-index: 0;
    border: 5px solid var(--clr-text);
} 
@media(width >= 425px) {
        .title {
                width: 50vw;       
        }
}
@media(width >= 550px) {
        .sun {
                width: 55px;
                height: 55px;
        }
        .title {
                width: 40vw;
        }
        .bottomTitleContainer {
                bottom: -10px;
        
        }
}
@media(width >= 700px) {
        .sun {
                width: 70px;
                height: 70px;
        }
        .title {
                width: 35vw;
        }
        .bottomTitleContainer {
                bottom: -5px;
        
        }
}
@media(width >= 1000px) {
        .sun {
                width: 95px;
                height: 95px;
        }
        .title {
                width: 35vw;
        }
        .bottomTitleContainer {
                bottom: -25px;
        }
        .topTitleContainer {
                top: -25px;
        }
}
@media( width >= 1440px) {
        .sun {
                width: 120px;
                height: 120px;
        }
        .title {
                width: 35vw;       
        }
        .bottomTitleContainer {
                bottom: -55px;
        }
        .topTitleContainer {
                top: -55px;
        }
}
@media(width >= 2000px) {
        .sun {
                width: 160px;
                height: 160px;
        }
        .title {
                width: 30vw;       
        }
        .bottomTitleContainer {
                bottom: -110px;
        }
        .topTitleContainer {
                top: -110px;
        }
}

.topCity {
    position: fixed;
    top: 0;
    left: 0;
}
.bottomCity {
    position: fixed;
    bottom: 0;
    right: 0;
}
.topCity,
.bottomCity {
    height: 100vh;
    width: 130%;
    will-change: transform;
}
.topCity img,
.bottomCity img {
    object-fit: cover;
}
@media (width >= 600px) {
        .bottomCity,
        .topCity {
                width: 115%;
        }
        .topCity img,
        .bottomCity img {
                object-fit: contain;
        }
}
@media (width >= 1024px) {
        .bottomCity,
        .topCity {
                width: 115%;
        }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
.arrowLeft {
    /* border: 1px solid red; */
    position: absolute;
    left: 15%; 
}
.arrowRight {
    /* border: 1px solid blue; */
    position: absolute;
    right: 15%;
    animation-name: heartbeat;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}