.heroPage {
    height: 100vh;
    width: 100%;
    overflow-x: hidden; 
    position: fixed;
    z-index: 1000;
    inset: 0;
    display: flex;
    align-items: center;
    will-change: opacity;
    
}
.motto {
    /* border: 1px solid red; */
    font-size: clamp(0.95rem, 2.5vw, 1.5rem);
    font-weight: 900;
    letter-spacing: var(--ls-big);
    text-transform: uppercase;
    position: fixed;
    background: var(--clr-bg);
    border: none;
    z-index: 999;
    max-width: 55%;
    word-wrap: break-word;
}
.mottoTop {
    top: 3%;
    left: 0;
    padding: 0 0.7em;
    border-top-right-radius: var(--radius-big);
    border-bottom-right-radius: var(--radius-big);
}
.mottoBottom {
    bottom: 3%;
    right: 0;
    padding: 0 0.7em;
    border-top-left-radius: var(--radius-big);
    border-bottom-left-radius: var(--radius-big);
}
.mottoTop span,
.mottoBottom span {
        color: var(--clr-primary);
}

.heroLinks {
    position: fixed;
    color: var(--clr-text);
    font-weight: 600;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    transition: var(--transition);
    padding: 0 0.7em;
    z-index: 999;
    background: var(--clr-bg);
    min-width: 120px; 
    max-width: 250px;
}
.heroLinks:hover {
        cursor: pointer;
        color: var(--clr-primary-dark);
}
.heroLinks:active {
        color: var(--clr-primary);
}
.toProductsLink {
    bottom: 3%;
    left: 0;
    border-top-right-radius: var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
}
.toCartLink {
    top: 3%;
    right: 0;
    border-top-left-radius: var(--radius-small);
    border-bottom-left-radius: var(--radius-small);
    text-align: right;
}


.heroContainer {
    /* border: 1px solid rgb(10, 211, 37); */
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroWrapper {
    /* border: 1px solid rgb(10, 187, 34); */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: clamp(150px, 170px, 350px);
}
.topTitleContainer {
    /* border: 1px solid red; */
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
.mainTitleContainer {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}
.bottomTitleContainer {
    /* border: 1px solid red; */
    width: 100%;
    position: absolute;
    bottom: 0;
}

.topTitleContainer svg {
    transform: rotate(45deg);
}
.bottomTitleContainer p {
    font-size: clamp(1.2rem, 2.5vw, 2.3rem);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.title {
    /* border: 1px solid rgb(141, 12, 153); */
    color: black;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    font-size: clamp(3.5rem, 9vw, 11rem);
}
.sun {
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at center, #ff9d00 0%, #ff6a00 100%);
    border-radius: 50%;
    z-index: 0;
    border: 5px solid var(--clr-text);
} 
@media(width >= 425px) {
        .title {
                width: 50vw;       
        }
}
@media(width >= 550px) {
        .sun {
                width: 55px;
                height: 55px;
        }
        .title {
                width: 40vw;
        }
        .bottomTitleContainer {
                bottom: -10px;
        
        }
}
@media(width >= 700px) {
        .sun {
                width: 70px;
                height: 70px;
        }
        .title {
                width: 35vw;
        }
        .bottomTitleContainer {
                bottom: -5px;
        
        }
}
@media(width >= 1000px) {
        .sun {
                width: 95px;
                height: 95px;
        }
        .title {
                width: 35vw;
        }
        .bottomTitleContainer {
                bottom: -25px;
        }
        .topTitleContainer {
                top: -25px;
        }
}
@media( width >= 1440px) {
        .sun {
                width: 120px;
                height: 120px;
        }
        .title {
                width: 35vw;       
        }
        .bottomTitleContainer {
                bottom: -55px;
        }
        .topTitleContainer {
                top: -55px;
        }
}
@media(width >= 2000px) {
        .sun {
                width: 160px;
                height: 160px;
        }
        .title {
                width: 30vw;       
        }
        .bottomTitleContainer {
                bottom: -110px;
        }
        .topTitleContainer {
                top: -110px;
        }
}

.topCity {
    position: fixed;
    top: 0;
    left: 0;
}
.bottomCity {
    position: fixed;
    bottom: 0;
    right: 0;
}
.topCity,
.bottomCity {
    height: 100vh;
    width: 130%;
    will-change: transform;
    pointer-events: none;
}
.topCity img,
.bottomCity img {
    object-fit: cover;
}
@media (width >= 600px) {
        .bottomCity,
        .topCity {
                width: 115%;
        }
        .topCity img,
        .bottomCity img {
                object-fit: contain;
        }
}
@media (width >= 1024px) {
        .bottomCity,
        .topCity {
                width: 115%;
        }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
.arrowLeft,
.arrowRight {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        line-height: 2;
}
.arrowLeft span,
.arrowRight span {
        font-weight: 900;
        font-size: 0.8rem
}
.arrowLeft {
    left: 15%; 
}
.arrowRight {
    right: 15%;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}