.magnifierContainer {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}


.lens {
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  pointer-events: none; 
  border-radius: 4px; 
}