.infoContainer {
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid rgb(11, 128, 0);
}

.infoContainer h2 {
    width: 100%;
    border: 1px solid black;
}
 

.infoStats {
    border: 1px solid blue;
    width: 100%;
}

.statsItems {
    border: 1px solid orange;
    padding: 0.5em;
    display: flex;
    
}

.infoChecks {
    border: 1px solid red;

}