.mainSection {
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    /* border: 1px solid red; */
}

.mainSection h1 {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    text-align: center;
    margin: 1em 0 7vh 0;
}

.description,
.disclaimer {
    font-size: clamp(1rem, 2vw, 1.4rem);
    
}
/* .description {
    margin-bottom: 0.7em;
} */

.disclaimer {
    font-weight: 600;
    margin-bottom: 2em;
    /* border: 1px solid; */
}

.mainSection a {
    padding: var(--pd-td) var(--pd-lr);
    border-radius: var(--radius);
    color: var(--clr-bg);
    transition: var(--transition);
    
}

.smile {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}