.mainSection {
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    text-align: justify;
 
}
.mainSection h1 {
    margin: 1em 0 7vh 0;
}
.description,
.disclaimer {
    font-size: clamp(0.95rem, 3vw, 1.1rem);
    letter-spacing: var(--ls);
    max-width: 60ch;
}
.disclaimer {
    font-weight: 600;
    margin: 2em 0;
}
.smile {
    margin-top: 2em;
    text-align: center;
}