
.navbar {
    /* padding: 0.7em 0;  */
    background-color: var(--clr-text);
    position: sticky;
    top: 0;
    color: #f5f5e9;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 7vh;
    overflow-x: hidden;
    will-change: transform, opacity;
    display: flex;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.visible {
  transform: translateY(0);
}
.hidden {
  transform: translateY(-100%);
}

.navbar a {
    color: #F5F5E9;
}

.cartAndCurrency {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}