.groupOfSkeletons {
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 8px;
    text-align: center;
}

.productCard {
    border: 1.5px outset var(--clr-grey) ;
    padding: var(--pd-td) var(--pd-lr);
    /* border-radius: 5px; */
    margin: 0 auto;
    width: 90%;
    height: 350px;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    
}.productCard:hover {
  box-shadow: var(--shadow-combined);
}
.productCard a {
  /* border: 1px solid blue; */
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.productCard img {
    width: 100%;
    height: 40%;
    object-fit: contain;
    /* border: 1px solid red; */
    margin-bottom: 0.5em;
    flex: 3;
}
.productCard h3 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 600;
    color: var(--clr-text);
    width: 100%;
    margin-bottom: 0.5em;
    /* border: 1px solid rgb(20, 136, 111); */
    max-height: 50px;
    
}
.productCard h4 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin-bottom: 2em;
    font-weight: 300;
    letter-spacing: 0.5px;
    /* border: 1px solid rgb(170, 109, 109); */
}
.productCard p {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-weight: 100;
    /* border: 1px solid rgb(185, 185, 78); */
    margin-bottom: 0.7em;
    
}


.selectWrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  /* border: 1px solid red; */
}



.sizeSelector {
  padding: 0.2em 0.2em 0 0.2em;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: white;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}
.sizeSelector:hover {
  background-color: #eeeeee;
  opacity: 1;
}

.sizeValue {
  color: #333;
  line-height: 1;         
}

.dropdownContent {
  position: relative;
  right: 2px;
  background-color: var(--clr-bg);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 9999;
  text-align: center;
  list-style-type: none;
  width: fit-content;
}

.dropdownList {
  list-style: none;
}

.dropdownItem {
  /* padding: 0.2em 0.1em; */
  cursor: pointer;
  color: #333;
  display: block;
  padding: 0.2em;

}
.dropdownItem svg {
  display: none;  /* hides the checkmark */
}
.dropdownItem:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
  height: min-content;
}



